<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/danhsachBS.css">
    <link rel="stylesheet" href="/css/timkiem.css">
    <title>Phong Kham</title>
</head>

<body>
<div class="container">
    <div class="grid">
        <div th:replace="fragments/header.html :: header"></div>
        <div class="row">
            <div th:replace="fragments/navigation.html :: navigation"></div>
            <div class="col-sm-10">
                <div class="content">
                    <h4> Tìm Kiếm Bác Sỹ</h4>
                    <form action="" method="post" class="form_timkiem">
                        <div>
                            <select name="thuocTinh">
                                <option value="maNV" >Mã Nhân Viên</option>
                                <option value="diaChi" >Địa Chỉ</option>
                                <option value="trinhDo" >Trình Độ</option>
                                <option value="hoTen" >Họ Tên</option>
                                <option value="chuyenMon" >Chuyên Môn</option>
                            </select>
                            <input type="text" name="duLieu" placeholder="Nhập mã dữ liệu">
                            <input type="submit" value="Tim Kiếm">
                        </div>
                    </form>

                    <th:block th:if ="${bacsys}">
                        <h4> Danh Sách Bác Sỹ Trong Phòng Khám</h4>
                        <table style="width:100%">
                            <tr class = "table_header">
                                <th>Mã Bác Sỹ</th>
                                <th>Họ Tên</th>
                                <th>Địa Chỉ</th>
                                <th>Trình Độ</th>
                                <th>Chuyên Môn</th>
                                <th>Ngày Sinh</th>
                                <th></th>
                            </tr>
                            <th:block th:each="bacsy : ${bacsys}">
                                <tr class = "table_row">
                                    <td th:text="${bacsy.maNV}"></td>
                                    <td th:text="${bacsy.hoTen}"></td>
                                    <td th:text="${bacsy.diaChi}"></td>
                                    <td th:text="${bacsy.trinhDo}"></td>
                                    <td th:text="${bacsy.chuyenMon}"></td>
                                    <td th:text="${#dates.format(bacsy.getNgaySinh(), 'yyyy-MM-dd')}"></td>
                                    <td>
                                        <a th:href="@{'/bacsy/chitiet/'+${bacsy.id}}">Xem Chi Tiết</a>
                                    </td>
                                </tr>
                            </th:block>
                        </table>
                    </th:block>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/base.js"></script>
</body>